.inventory-management {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.inventory-overview {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
}

.filter-dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inventory-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.inventory-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.inventory-card.below-threshold {
    background-color: #ffebee;
}

.threshold-input {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
}

.actions {
    margin-top: 10px;
}

.decrease-button, .reorder-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.decrease-button {
    background-color: #FF9100;
    margin-right: 20px;
}

.decrease-button:hover {
    background-color: #FF9100;
}

.reorder-button {
    background-color: #7B2CBF;
    ;
}

.reorder-button:hover {
    background-color: #7B2CBF;

}

.notification-bar {
    background-color:  #FF9100;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal-content {
    text-align: center;
}

.modal-input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color:  #7B2CBF ;
    color: white;
    cursor: pointer;
}

.modal-button:hover {
    background-color:  #7B2CBF;

}

.modal-button.cancel {
    background-color: #FF9100;
}

.modal-button.cancel:hover {
    background-color: #FF9100;
}


.resource-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.resource-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.resource-card .resource-name {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.resource-card p {
    margin: 5px 0;
}