.container-graph{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70vh;
    background-color: #eeaaf9;
    /* border-radius: 32px; */

}

.heading{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}