.community-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 50px;
    color: #f08800;;
}
.community-description{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    /* margin-left: 0px; */
    padding-left: -40px;
    margin-right: 80px;
    font-family: "Poppins", sans-serif;
}
.event-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;   
}