.footer {
  background-color: #4b4b4b; /* Dark background for the footer */
  color: #c8c8c8; /* White text color */
  padding: 5px 0; /* Reduced padding */
  font-family: 'Poppins', Arial, sans-serif;
}

.footer-container {
  display: flex; /* Flexbox to create a row layout */
  justify-content: space-between; /* Space between each column */
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  max-width: 1200px; /* Maximum width for the footer content */
  margin: 0 auto; /* Center the footer content horizontally */
  padding: 0 10px; /* Reduced padding */
}

.footer-column {
  flex: 1; /* Flex grow to allow columns to grow equally */
  min-width: 150px; /* Reduced minimum width for each column */
  margin-bottom: 10px; /* Reduced margin for spacing at the bottom */
  max-width: 200px; /* Reduced maximum width */
}

.footer-column h4 {
  margin-bottom: 10px; /* Reduced margin below the heading */
  font-size: 16px; /* Reduced font size for the heading */
  font-weight: bold; /* Bold heading */
}

.footer-column p, .footer-column ul li {
  margin-bottom: 5px; /* Reduced margin below each paragraph and list item */
  font-size: 14px; /* Reduced font size for paragraphs and list items */
}

.footer-column ul {
  list-style: none; /* Remove default list style */
  padding: 0; /* Remove padding */
}

.footer-column ul li a {
  color: #ffffff; /* White color for the links */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s; /* Smooth transition for color change */
}

.footer-column ul li a:hover {
  color: #ff9100; /* Hover color for the links */
}

.footer-bottom {
  text-align: center; /* Center align the text */
  margin-top: 10px; /* Reduced margin above the copyright text */
  font-size: 12px; /* Reduced font size for the copyright text */
}
