/* Impact text container */
.impact-text-container {
    text-align: center;
    margin: 40px 20px;
}

.impact-heading {
    font-size: 32px;
    color: #ff9100; /* Theme color */
    margin-bottom: 15px;
}

.impact-text {
    font-size: 18px;
    color: #333; /* Darker color for readability */
}

/* Chart description container */
.chart-description-container,
.line-chart-description-container,
.volunteer-description-container,
.funding-description-container {
    text-align: center;
    margin: 30px 20px;
}

.funding-description-container {
    margin-right: 60px;
}
.chart-description,
.line-chart-description,
.volunteer-description,
.funding-description {
    font-size: 16px;
    color: #555; /* Slightly lighter color */
}

/* Additional sections */
.additional-section {
    text-align: center;
    margin: 40px 20px;
}

.additional-heading {
    font-size: 24px;
    color: #ff9100; /* Theme color */
    margin-bottom: 10px;
}

.additional-text {
    font-size: 16px;
    color: #333; /* Darker color for readability */
    line-height: 1.6;
}

/* Graph section */
.graph {
    margin: 50px 0;
}
.floating-chat-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #7B2CBF;

    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
}

.floating-chat-button:hover {
    background-color: #7B2CBF ;
}